@import '_mixins.scss';

.title-bar, .top-bar{
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > span{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.btn-sm{
    @include button-size(14px, 'sm');
}
.btn-md{
    @include button-size(16px, 'md');
}
.btn-lg{
    @include button-size(16px, 'lg');
}
.btn-xl{
    @include button-size(16px, 'xl');
}
.btn-full{
    @include font-style(16px, 22px);
    width: 100%;
    padding: 7px 16px;
    cursor: pointer;
    &:not(:last-child){
        margin-bottom: 10px;
    }
    &:hover{
        @include outline(-4px);
    }
    &:first-letter {
        text-transform: uppercase;
    }
}
.btn-arrow{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    vertical-align: top;
    cursor: pointer;
    img{
        display: block;
    }
    &:hover, &:active{
        @include outline(-4px);
    }
}

.container-box{
    padding: 2px;
}

.title-input{
    width: 100%;
    padding: 7px;
    margin-bottom: 16px;
    cursor: default;
}

.relative{
    position: relative;
}

.d-none{
    display: none;
}