@import '_partials.scss';
@import '_mixins.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch','Helvetica';
    font-weight: 400;
    letter-spacing: 0;
    color: #110038;
    text-decoration: none;
    @include font-style(14px, 18px);
}

a, span{
    display: inline-block;
}

header{
    .nav-bar{
        margin: 0 100px 23px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .theme-changer{
            display: inline-block;
            margin: 16px;
        }
        .my-gifos{
            font-size: 16px;
            &::first-letter{
                text-decoration: underline;
            }
        }
    }
}

.container{
    margin: 0 100px;
    .search-form {
        padding: 12px 18px 12px 15px;
        display: flex;
        align-items: center;
        .search-input{
            @include font-style(16px, 22px);
            padding: 13px 16px;
            flex-grow: 1;
        }
        .search-button{
            margin-left: 8px;
            & > img{
                margin-right: 10px;
                vertical-align: top;
            }
        }
    }
}