@import '_partials.scss';
@import '_mixins.scss';
@import '_spinner.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch','Helvetica';
    font-weight: 400;
    letter-spacing: 0;
    color: #110038;
    text-decoration: none;
    @include font-style(14px, 18px);
}

a, span{
    display: inline-block;
}

b{
    font-weight: 700;
}

img{
    display: block;
}

.nav-bar{
    margin: 0 100px 16px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .back-button{
        position: absolute;
        left: -34px;
        cursor: pointer;
    }
    .theme-changer{
        display: inline-block;
        margin: 0 16px;
        position: relative;
        &:hover > .btn-lg,
        &:hover > .btn-arrow{
            @include outline(-4px);
        }
        .theme-options{
            list-style: none;
            position: absolute;
            padding: 0;
            width: 100%;
            z-index: 1;
            height: 0;
            overflow-y: hidden;
            transition: all 0.3s ease-in;
        }
        &.active{
            .btn-lg, .btn-arrow{
                @include outline(-4px);
            }
            .theme-options{
                height: 106px;
                padding: 10px;
            }
        }
    }
    .my-gifos{
        font-size: 16px;
        &::first-letter{
            text-decoration: underline;
        }
    }
}

.container{
    margin: 0 100px;
    .search-form {
        padding: 12px 18px 12px 15px;
        display: flex;
        align-items: center;
        .search-input{
            @include font-style(16px, 22px);
            padding: 13px 16px;
            flex-grow: 1;
        }
        .search-button{
            margin-left: 8px;
            & > img{
                margin-right: 10px;
                vertical-align: top;
                display: inline-block;
            }
        }
    }
    .suggested-searchs{
        position: absolute;
        height: 0;
        overflow: hidden;
        transition: all linear 0.3s;
        padding: 0;
        z-index: 1;
        width: 100%;
        &.active{
            padding: 16px 128px 16px 15px;
            height: 166px;
        }
    }
    .suggested-section, .trends-section{
        padding-top: 64px;
    }
    .suggested-container{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 25%));
        grid-gap: 16px;
        .suggested-item{
            padding: 4px;
            .item-body{
                height: 280px;
                margin-top: 2px;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .btn-secondary{
                    position: absolute;
                    bottom: 15px;
                    left: 7px;
                }
                &:hover{
                    @include outline(-2px);
                }
            }
            &.loading > .title-bar span{
                filter: blur(3px);
            }
        }
    }
    .trends-container, .my-gifos-container{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 25%));
        grid-gap: 16px;
        margin-bottom: 20px;
        .trend-item{
            height: 298px;
            position: relative;
            transition: all linear 0.2s;
            > img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            > .title-bar{
                position: absolute;
                bottom: 3px;
                width: 100%;
                opacity: 0;
                transition: all linear 0.2s;
            }
            &:nth-child(5n+5){
                grid-column: span 2;
            }
            &:hover{
                @include outline(-5px);
                padding: 3px;
                // margin: 0 3px 16px 3px;
                > .title-bar{
                    opacity: 1;
                    width: calc(100% - 6px);
                }
            }
        }
    }
    .create-gif-container{
        margin: 75px auto 153px;
        width: 684px;
        .create-gif-body{
            padding: 8px 14px 13px 8px;
            display: flex;
            .icon-container{
                padding: 22px 16px 0 7px;
            }
            .text-container{
                padding-top: 22px;
                max-width: 518px;
                h2{
                    @include font-style(16px, 22px);
                    font-weight: 700;
                }
                p{
                    @include font-style(14px, 20px);
                }
                ol{
                    list-style: none;
                    padding: 5px 0;
                    li{
                        padding: 5px 0;
                    }
                }
            }
            .video-viewer, .gif-previewer{
                width: 828px;
                height: 440px;
                padding: 2px;
                object-fit: fill;
            }
            .uploading-container{
                width: 828px;
                height: 440px;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                b{
                    @include font-style(16px, 22px);
                    margin: 8px 0 40px;
                }
                .progress-bar{
                    animation: gradient-move steps(17, start) 1s infinite;
                    margin-bottom: 10px;
                }
                p, span{
                    @include font-style(12px, 14px);
                    color: rgba(17,0,56,0.64);
                }
                span{
                    text-decoration: line-through;
                }
            }
            .upload-result-container{
                padding: 21px 0 0 19px;
                display: flex;
                .uploaded-gif{
                    width: 371px;
                    height: 196px;
                    object-fit: cover;
                    padding: 2px;
                }
                .column-2{
                    padding: 20px 24px;
                    b{
                        @include font-style(16px, 22px);
                    }
                    .btn-xxl:nth-child(2){
                        margin: 16px 0 14px;
                    }
                }
            }
        }
        .create-gif-footer{
            padding: 8px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .instructions-actions{
                .btn-xl + .btn-xl{
                    margin: 20px 28px 28px 16px;
                }
            }
            .buttons-container{
                width: 100%;
                justify-content: flex-end;
                display: flex;
                .start-record-button, .stop-record-button{
                    padding: 0 6px 6px 0;
                }
                .start-record-button:hover > .btn-xl,
                .start-record-button:hover > .btn-camera,
                .stop-record-button:hover > .btn-xl,
                .stop-record-button:hover > .btn-rec{
                    @include outline(-4px);
                }
                .preview-gif-actions{
                    padding: 0 6px 6px 0;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    margin-left: 24px;
                    .preview-controls{
                        flex-grow: 1;
                    }
                    .btn-xl + .btn-xl{
                        margin-left: 14px;;
                    }
                }
                .final-action{
                    padding: 40px 38px 36px;
                }
            }
            .counter-input{
                @include font-style(16px, 22px);
                width: 124px;
                height: 38px;
                padding: 0 16px;
                pointer-events: none;
            }
        }
    }
}