@import '_partials.scss';
@import '_mixins.scss';
@import '_spinner.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch','Helvetica';
    font-weight: 400;
    letter-spacing: 0;
    color: #110038;
    text-decoration: none;
    @include font-style(14px, 18px);
}

a, span{
    display: inline-block;
}

img{
    display: block;
}

.nav-bar{
    margin: 0 100px 23px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .theme-changer{
        display: inline-block;
        margin: 16px;
        position: relative;
        .theme-options{
            list-style: none;
            position: absolute;
            padding: 0;
            width: 100%;
            z-index: 1;
            height: 0;
            overflow-y: hidden;
            transition: all 0.3s ease-in;
        }
        &.active{
            .btn-lg, .btn-arrow{
                @include outline(-4px);
            }
            .theme-options{
                height: 106px;
                padding: 10px;
            }
        }
    }
    .my-gifos{
        font-size: 16px;
        &::first-letter{
            text-decoration: underline;
        }
    }
}

.container{
    margin: 0 100px;
    .search-form {
        padding: 12px 18px 12px 15px;
        display: flex;
        align-items: center;
        .search-input{
            @include font-style(16px, 22px);
            padding: 13px 16px;
            flex-grow: 1;
        }
        .search-button{
            margin-left: 8px;
            & > img{
                margin-right: 10px;
                vertical-align: top;
                display: inline-block;
            }
        }
    }
    .suggested-section, .trends-section{
        padding-top: 64px;
    }
    .suggested-container{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 25%));
        grid-gap: 16px;
        .suggested-item{
            padding: 4px;
            .item-body{
                height: 280px;
                margin-top: 2px;
                overflow: hidden;
                position: relative;
                img{
                    height: 100%;
                }
                .btn-secondary{
                    position: absolute;
                    bottom: 15px;
                    left: 7px;
                }
                &:hover{
                    @include outline(-2px);
                }
            }
            &.loading > .title-bar span{
                filter: blur(3px);
            }
        }
    }
    .trends-container{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        .trend-item{
            height: 298px;
            margin-bottom: 16px;
            position: relative;
            transition: all linear 0.2s;
            > img{
                height: 100%;
            }
            > .title-bar{
                position: absolute;
                bottom: 3px;
                width: 100%;
                opacity: 0;
                transition: all linear 0.2s;
            }
            &:hover{
                @include outline(-5px);
                padding: 3px;
                margin: 0 3px 16px 3px;
                > .title-bar{
                    opacity: 1;
                    width: calc(100% - 6px);
                }
            }
        }
    }
}