.sailor-day {
  background-color: #FCF3FD;
}

.sailor-day .top-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: 0 1px 0 0 #110038;
  margin: 1px 1px 35px 1px;
  padding: 3px 7px;
}

.sailor-day .top-bar span {
  font-size: 12px;
  color: #FFF;
}

.sailor-day .btn-primary {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-day .btn-primary:hover, .sailor-day .btn-primary:active {
  background: #E6BBE2;
}

.sailor-day .btn-secondary {
  background-color: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.sailor-day .btn-secondary:hover, .sailor-day .btn-secondary:active {
  background: #3A72DB;
}

.sailor-day .btn-recording {
  background-color: #FF6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.sailor-day .btn-recording:hover, .sailor-day .btn-recording:active {
  background: #D65C5C;
}

.sailor-day .btn-disabled {
  background-color: #E6E6E6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #B4B4B4;
  pointer-events: none;
}

.sailor-day .btn-disabled > img {
  opacity: 0.2;
}

.sailor-day .btn-simple {
  background: #FFF4FD;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-day .btn-simple:hover, .sailor-day .btn-simple:active {
  background: #F0E5EE;
}

.sailor-day .theme-changer:hover > .btn-primary,
.sailor-day .start-record-button:hover > .btn-primary {
  background: #E6BBE2;
}

.sailor-day .stop-record-button:hover > .btn-recording {
  background: #D65C5C;
}

.sailor-day .my-gifos:hover {
  outline: 1px dotted #110038;
  outline-offset: 0px;
  padding: 7px 19px 7px 1px;
  margin: 0 -19px 0 -1px;
}

.sailor-day .title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  padding: 3px;
}

.sailor-day .title-bar span {
  font-size: 14px;
  color: #FFF;
  font-weight: 700;
}

.sailor-day .container-box {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-day .container-box .search-input {
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sailor-day .container-box .btn-full {
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-day .container-box .btn-full.active {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  pointer-events: none;
}

.sailor-day .container-box .btn-full.active::first-letter {
  text-decoration: underline;
}

.sailor-day .title-input {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.sailor-day .trend-item:hover {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-day .media-container .video-viewer,
.sailor-day .media-container .gif-previewer,
.sailor-day .counter-input,
.sailor-day .uploading-container,
.sailor-day .uploaded-gif {
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sailor-day .progress-bar {
  background-image: -webkit-gradient(linear, left top, right top, from(#f7c9f3), color-stop(50%, #f7c9f3), color-stop(50%, #999999), to(#999999));
  background-image: linear-gradient(90deg, #f7c9f3 0%, #f7c9f3 50%, #999999 50%, #999999 100%);
  box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
}

/*# sourceMappingURL=theme1.css.map */
