@mixin top-bar ($font-size, $box-shadow, $bold) {
    background-image: linear-gradient(270deg, $primary-color 0%, $secondary-color 100%);
    @if $box-shadow {
        box-shadow: 0 1px 0 0 #110038;
    }
    span{
        font-size: $font-size;
        color: #FFF;
        @if $bold {
            font-weight: 700;
        }
    }
}

@mixin button-type($type) {
    @if $type == 'primary' {
        background-color: $primary-color;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        &:hover, &:active{
            background: #E6BBE2;
        }
    } @else if $type == 'secondary' {
        background-color: $secondary-color;
        border: 1px solid #4C2F99;
        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
        color: #FFFFFF;
        &:hover, &:active{
            background: #3A72DB;
        }
    } @else if $type == 'recording' {
        background-color: $recording-color;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        &:hover, &:active{
            background: #E6BBE2;
        }
    } @else if $type == 'disabled' {
        background-color: $box-bg;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        color: #B4B4B4;
        pointer-events: none;
    }
}