.title-bar, .top-bar {
  height: 24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.btn-sm {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  width: 81px;
  padding: 8px 0;
}

.btn-sm:hover, .btn-sm:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.btn-md {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 102px;
  padding: 9px 0;
}

.btn-md:hover, .btn-md:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.btn-lg {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 131px;
  padding: 9px 0;
}

.btn-lg:hover, .btn-lg:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.btn-xl {
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 144px;
  padding: 9px 0;
}

.btn-xl:hover, .btn-xl:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.btn-full {
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  padding: 7px 16px;
}

.btn-full:not(:last-child) {
  margin-bottom: 10px;
}

.btn-arrow {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.btn-arrow img {
  display: block;
}

.btn-arrow:hover, .btn-arrow:active {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.container-box {
  padding: 2px;
}

.title-input {
  width: 100%;
  padding: 7px;
  margin-bottom: 16px;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 90px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch','Helvetica';
  font-weight: 400;
  letter-spacing: 0;
  color: #110038;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

a, span {
  display: inline-block;
}

img {
  display: block;
}

.nav-bar {
  margin: 0 100px 23px 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.nav-bar .theme-changer {
  display: inline-block;
  margin: 16px;
  position: relative;
}

.nav-bar .theme-changer .theme-options {
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  z-index: 1;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-bar .theme-changer.active .btn-lg, .nav-bar .theme-changer.active .btn-arrow {
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.nav-bar .theme-changer.active .theme-options {
  height: 106px;
  padding: 10px;
}

.nav-bar .my-gifos {
  font-size: 16px;
}

.nav-bar .my-gifos::first-letter {
  text-decoration: underline;
}

.container {
  margin: 0 100px;
}

.container .search-form {
  padding: 12px 18px 12px 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.container .search-form .search-input {
  font-size: 16px;
  line-height: 22px;
  padding: 13px 16px;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.container .search-form .search-button {
  margin-left: 8px;
}

.container .search-form .search-button > img {
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}

.container .suggested-section, .container .trends-section {
  padding-top: 64px;
}

.container .suggested-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 25%));
  grid-gap: 16px;
}

.container .suggested-container .suggested-item {
  padding: 4px;
}

.container .suggested-container .suggested-item .item-body {
  height: 280px;
  margin-top: 2px;
  overflow: hidden;
  position: relative;
}

.container .suggested-container .suggested-item .item-body img {
  height: 100%;
}

.container .suggested-container .suggested-item .item-body .btn-secondary {
  position: absolute;
  bottom: 15px;
  left: 7px;
}

.container .suggested-container .suggested-item .item-body:hover {
  outline: 1px dotted #110038;
  outline-offset: -2px;
}

.container .suggested-container .suggested-item.loading > .title-bar span {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

/*# sourceMappingURL=main.css.map */
